.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main';
    background-color: darkgrey;
    gap: 10px;
}

.menu {
    display: grid;
    background-color: #535bf2;
    padding: 20px;
    grid-area: header;
    grid-template-columns: minmax(80px, 1fr) 150px;
}

.menu a {
    display: inline-block;
    padding: 18px;
    margin: 7px;
    background-color: #535bf2;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #0099cc;
}

.menu a.active {
    background-color: #007fa6;
}
