.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main';
    background-color: #f4f4f3;
}

.menu {
    display: grid;
    background-color: #252525;
    height:75px;
    grid-area: header;
    grid-template-columns: minmax(80px, 1fr) 150px;
    align-items: center;

}

.menu a {
    display: inline-block;
    padding: 10px;
    margin: 7px;
    background-color: #252525;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #535353;
}

.menu a.active {
    background-color: #007fa6;
}

.login-box {
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: #eaeae9;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

.login-container{
    display: flex;
    justify-content: center;
}

.form-meta{
    display: flex;
    justify-content: space-between;
}

.login-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}