.citySelector {
    padding: 10px;
    background-color: #8f1212;
    padding-left: 10%;
    padding-right: 10%;
}

.page-selector-form {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
}

.modal-selector-form {
    display: inline-flex;
    align-items: center;
}

.modal-selector-spacer {
    height: 40px;
}
